<style>
  nav {
    align-items: center;
    align-content: center;
    align-self: center;
    vertical-align: middle;
  }

  #search {
    border-radius: 5px;
    outline: 0;
  }

  #profileContainer {
    border: 1px solid gainsboro;
  }
</style>

<nav class="navbar navbar-light bg-white sticky-top shadow-sm mb-5">
  <!-- Logo -->
  <a class="navbar-brand ml-3" href="/">
    <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top rounded-lg" alt="" loading="lazy">
    Armenia Social
  </a>
  <!-- Search box -->
  <div style="width: 50%;" class="container">
    <input id="search" class="form-control" type="search" placeholder="Search" aria-label="Search" />
  </div>
  <!-- Dropdown -->
  <div class="btn-group mr-3">
    <button type="button" id="profileContainer" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <img src="<%= currentAccount.pictureUrl %>" class="rounded-circle" height="32" width="32"
        alt="<%= currentAccount.pictureUrl %>">
      <span><%= currentAccount.fullName %></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <!-- Settings -->
      <a href="/settings" class="dropdown-item" type="button">
        <i class="fas fa-cog"></i>
        User Settings
      </a>
      <!-- My Account -->
      <a href="/user/<%= currentAccount._id %>" class="dropdown-item" type="button">
        <i class="fas fa-user"></i>
        My account
      </a>
      <!-- Notifications -->
      <a href="/notifications" class="dropdown-item">
        <% if (currentAccount.friends.pending.length > 0) { %>
        <i class="fas fa-bell">
          <span class="badge badge-danger"><%= currentAccount.friends.pending.length %></span>
        </i>
        <%}%>
        <% if (currentAccount.friends.pending.length == 0){%>
        <i class="fas fa-bell"></i>
        <%}%>
        Notifications
      </a>
      <!-- Logout -->
      <hr class="solid">
      <a class="dropdown-item text-dark" type="button" href="#!" id="submitLogout">
        <i class="fas fa-sign-out-alt">
          <form id="logout" method="POST" class="bg-transparent" action="/logout/<%= currentAccount._id %>"></form>
        </i>
        Logout
      </a>
    </div>
  </div>

  <div role="listbox" class="container list-group" id="foundItems">
  </div>
</nav>

<!-- Nav -->
<script src="/js/nav/script.js"></script>