div(style="font-family: sans-serif")
  h1 Verify your email
  p Hello 
    | 
    b #{firstName} #{lastName} 
    | & welcome to Polygon!

  p As per your request from 
    | ip address 
    b #{ip} 
    | you're receiving 
    | this message to verify your new account at Polygon
  
  p Please click on the link below activate your account: 
    span
      a(href=`${BASE_FRONTEND_URL}/welcome?verification=${sid}/`) Activate your account

  p(style="color: red")
    b WARNING: 
    | For the security of your account, please don't share this email with anyone else.

  h4 Thank you!
  small If you are not trying to register to Polygon, you can safely ignore this message
