<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/platformAccount/style.css">
    <%- include ("./partials/cssPartials") %>
    <link href='https://css.gg/lock.css' rel='stylesheet'>
    <link href='https://css.gg/lock-unlock.css' rel='stylesheet'>
    <title>ArmSocial | My Account</title>
</head>

<body>

    <%- include ("./partials/nav") %>

    <div class="account uk-margin-xlarge-top">

        <div class="picture uk-margin-xlarge-top">
            <img class="profile-picture" src="<%= platformAccount.pictureUrl %>" width="128" height="128"
                alt="profile_picture">
        </div>

        <h2 class="title is-2 uk-margin-top" id="fullName">
            <%= platformAccount.fullName %>
            <% if (platformAccount.private == true) {%>
            <div class="privacy">
                <i class="gg-lock"></i>
            </div>
            <%}%>
        </h2>

        <% if (platformAccount.private == false) {%>
            <div class="privacy">
                <i class="gg-lock-unlock"></i>
            </div>
            <%}%>
        <h3 class="title is-3" id="bio">Bio: <%= platformAccount.bio %></h3>
            <h4 class="title is-4">ID: <a href="#"><%= platformAccount._id%></a></h4>
            <h6 class="title is-6 uk-margin-top" id="redirect"><a href="/">Go back to the platform</a></h6>
    </div>


    <%- include ("./partials/jsPartials") %>
</body>

</html>