<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/platform/style.css">
    <%- include ("./partials/cssPartials") %>
    <title>Platform | ArmSocial</title>
</head>

<body>

    <%- include ("./partials/nav") %>

    <div class="posts" id="posts">

    </div>

    <div class="rightPanel">
        <h3 align="center" class="uk-margin-right">Public Accounts</h3>

        <%# If  account list's lenght is more or equal to 1 then display the cards%>
        <% if (accounts.length >= 1) {%>
        <%accounts.forEach(account => {%>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title"><%= account.fullName %></h3>
                <p>ID: <a href="/platform/<%= account._id%>"><%= account._id %></a></p>
            </div>
        </div>
        <hr class="uk-divider-icon">
        <%});%>
        <%}%>

        <%# If the account lenght is lower than 1 display that there are currently no public accounts %>
        <% if (accounts.length < 1) {%>
        <p align="center" class="uk-margin-right"><%= err %></p>
        <%}%>
    </div>

    <%- include ("./partials/jsPartials") %>
</body>

</html>