<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/platformAccount/style.css" />
    <%- include ("./partials/cssPartials") %>
    <title>ArmSocial | My Account</title>
  </head>

  <body>
    <%- include ("./partials/nav") %>

    <div class="account">
      <div class="account-picture">
        <img
          class="profile-picture"
          src="<%= platformAccount.pictureUrl %>"
          alt="profile_picture"
        />
      </div>

      <div class="account-name">
        <h2 align="center" id="fullName">
          <%= platformAccount.fullName %> <% if (platformAccount.isPrivate ==
          true) {%>
          <h5 align="center">
            Private Account
            <svg>
              <use xlink:href="/svg/all.svg#gg-lock" />
            </svg>
          </h5>
          <%}%> <% if (platformAccount.isPrivate == false) {%>
          <h5 align="center">
            Public Account
            <svg>
              <use xlink:href="/svg/all.svg#gg-lock-unlock" />
            </svg>
          </h5>
          <%}%>
        </h2>
      </div>

      <div class="account-info">
        <p align="center" class="account-id">
          ID <a href="#"><%= platformAccount._id%></a>
        </p>
        <p align="center" class="account-bio" id="bio">
          <%= platformAccount.bio %>
        </p>
      </div>

      <hr class="solid" />
    </div>

    <div class="posts">
      <% if (posts) { %> <% posts.forEach(post => { %>
      <div class="post">
        <div class="author">
          <a href="/user/<%= platformAccount._id%>" class="author">
            <img
              src="<%= post.authorImage %>"
              height="100"
              alt="profile_picture"
              class="profile-picture"
            />
            <h3><%= post.author %></h3>
          </a>
        </div>
        <div class="content">
          <h4><%= post.text %></h4>
        </div>
      </div>
      <% }); %> <% } %> <% if (posts.length < 1) {%>
      <div class="posts">
        <h3 align="center">This user doesn't have any posts</h3>
      </div>
      <% } %>
    </div>

    <%- include ("./partials/jsPartials") %>
  </body>
</html>
