<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include ("./partials/cssPartials") %>
    <link rel="stylesheet" href="/css/users/style.css" />
    <title>ArmSocial | Users</title>
  </head>

  <body>
    <%- include ("./partials/nav") %>

    <div>
      <h1 align="center">Public Users</h1>
      <div class="accounts">
        <div class="row">
          <%# If account list's lenght is more or equal to 1 then display the
          cards%> <% if (accounts.length >= 1) {%> <%accounts.forEach(account =>
          {%>
          <div>
            <img
              class="account-picture"
              width="100"
              height="100"
              src="<%= account.pictureUrl %>"
              alt="profile_picture"
            />
            <h3>
              <a href="/user/<%= account._id%>"><%= account.fullName %></a>
            </h3>
            <p>ID: <%= account._id %></p>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp; <%});%> <%}%>
        </div>
        <%# If the account lenght is lower than 1 display that there are
        currently no public accounts %> <% if (accounts.length < 1) {%>
        <p align="center"><%= err %></p>
        <%}%>
      </div>
    </div>

    <%- include ("./partials/jsPartials") %>
  </body>
</html>
