<%- include ("./partials/header") %> <%- include ("./partials/nav") %>

<div class="container mt-5">
  <h2>
    <i class="fas fa-cog"></i>
    Settings
  </h2>

  <div id="accountTab" class="mt-5">
    <h6>Account</h6>
    <hr class="solid" />

    <div>
      <h4>Basic Info</h4>
      <form>
        <label for="firstName" class="mt-2">First name<span class="text-danger">*</span></label>
        <input
          type="text"
          required
          placeholder="<%= currentAccount.firstName %>"
          class="form-control w-50"
          name="firstName"
          id="firstName"
        />
        <label class="mt-2" for="lastName">Last name<span class="text-danger">*</span></label>
        <input
          type="text"
          required
          placeholder="<%= currentAccount.lastName %>"
          class="form-control mt w-50"
          name="lastName"
          id="lastName"
        />
        <button
          class="btn btn-outline-primary btn-block mt-2 w-50"
          type="button"
          id="accountSaveBasic"
        >
          UPDATE
        </button>
      </form>
      <br />
      <br />
      <hr class="solid" />
      <br />
      <br />
      <h4>Credentials</h4>
      <form class="mt-2">
        <label class="mt-2" for="email">Email<span class="text-danger">*</span></label>
        <input
          required
          placeholder="<%= currentAccount.email %>"
          class="form-control w-50"
          type="email"
          name="email"
          id="email"
        />
        <label class="mt-2" for="password">Password<span class="text-danger">*</span></label>
        <input
          required
          placeholder="********"
          class="form-control w-50"
          type="password"
          name="password"
          id="password"
        />
        <button class="btn btn-outline-primary btn-block mt-2 w-50" type="button" id="accountSave">
          UPDATE
        </button>
      </form>
    </div>
  </div>

  <div class="mt-5">
    <h6>Privacy</h6>
    <hr class="solid" />
    <div id="privacy">
      <% if(currentAccount.isPrivate) {%>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="prv_acc" name="privacy" checked />
        <label class="form-check-label" for="prv_acc"> Private Account </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="privacy" id="opn_acc" />
        <label class="form-check-label" for="opn_acc"> Public Account </label>
      </div>
      <% } %> <%if(currentAccount.isPrivate == false) {%>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="privacy" id="prv_acc" />
        <label class="form-check-label" for="prv_acc"> Private Account </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="privacy" id="opn_acc" checked />
        <label class="form-check-label" for="opn_acc"> Public Account </label>
      </div>
      <% } %>
    </div>
  </div>

  <div class="mt-5 pb-5">
    <h6>Section <span class="text-danger">CODE RED</span></h6>
    <hr class="solid" />
    <div id="delete_account_section">
      <div style="text-align: right">
        <button class="btn btn-outline-danger" id="deleteAccount">
          <i class="fas fa-trash-alt"></i>
          Delete Your Account
        </button>
        <div id="message" class="message"></div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="/dist/js/settings.min.js"></script>
<%- include ("./partials/footer") %>
