<nav class="navbar navbar-light d-flex bg-white sticky-top shadow-sm mb-5">
  <!-- Logo -->
  <a class="navbar-brand ms-3" href="/">
    <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top rounded-3" />
    <span class="logo-text">Armenia Social</span>
  </a>
  <!-- Search box -->
  <input
    style="width: 45%; width: 45vw"
    id="search"
    class="form-control ms-2 me-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
  />
  <!-- Dropdown -->
  <div class="btn-group me-3">
    <button
      type="button"
      id="profileContainer"
      class="btn dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <img
        src="<%= currentAccount.pictureUrl %>"
        class="rounded-circle shadow-sm"
        height="34"
        width="34"
        alt="<%= currentAccount.pictureUrl %>"
      />
      <span class="nav-account-name ms-1"><%= currentAccount.fullName %></span>
    </button>
    <div class="dropdown-menu dropdown-menu-end">
      <!-- My Account -->
      <a href="/user/<%= currentAccount._id %>" class="dropdown-item" type="button">
        <i class="fas fa-user"></i>
        My account
      </a>

      <!-- Notifications -->
      <a href="/notifications" class="dropdown-item">
        <% if (currentAccount.friends.pending.length > 0) { %>
        <i class="fas fa-bell">
          <span class="badge rounded-pill bg-danger"
            ><%= currentAccount.friends.pending.length %></span
          >
        </i>
        <%}%> <% if (currentAccount.friends.pending.length == 0){%>
        <i class="fas fa-bell"></i>
        <%}%> Notifications
      </a>
      <!-- Settings -->
      <a href="/settings" class="dropdown-item" type="button">
        <i class="fas fa-cog"></i>
        User Settings
      </a>
      <!-- Logout -->
      <hr class="solid" />
      <a class="dropdown-item text-dark" type="button" href="#!" id="submitLogout">
        <i class="fas fa-sign-out-alt">
          <form id="logout" method="POST" class="bg-transparent" action="/logout"></form>
        </i>
        Logout
      </a>
    </div>
  </div>

  <div role="listbox" class="container list-group" id="foundItems"></div>
</nav>

<script src="/dist/js/nav.min.js"></script>
